@colorGreen: #3dbba0;
@colorBlack: #4c4d4f;
@fontsizeMenu: 18px;
@font-face {
    font-family: 'Conv_Averta-Regular';
    src: url('../fonts/Averta-Regular.eot');
    src: local('☺'), url('../fonts/Averta-Regular.woff') format('woff'), url('../fonts/Averta-Regular.ttf') format('truetype'), url('../fonts/Averta-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Semibold';
    src: url('../fonts/Averta-Semibold.eot');
    src: local('☺'), url('../fonts/Averta-Semibold.woff') format('woff'), url('../fonts/Averta-Semibold.ttf') format('truetype'), url('../fonts/Averta-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Thin';
    src: url('../fonts/Averta-Thin.eot');
    src: local('☺'), url('../fonts/Averta-Thin.woff') format('woff'), url('../fonts/Averta-Thin.ttf') format('truetype'), url('../fonts/Averta-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Light';
    src: url('../fonts/Averta-Light.eot');
    src: local('☺'), url('../fonts/Averta-Light.woff') format('woff'), url('../fonts/Averta-Light.ttf') format('truetype'), url('../fonts/Averta-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Bold';
    src: url('../fonts/Averta-Bold.eot');
    src: local('☺'), url('../fonts/Averta-Bold.woff') format('woff'), url('../fonts/Averta-Bold.ttf') format('truetype'), url('../fonts/Averta-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Black';
    src: url('../fonts/Averta-Black.eot');
    src: local('☺'), url('../fonts/Averta-Black.woff') format('woff'), url('../fonts/Averta-Black.ttf') format('truetype'), url('../fonts/Averta-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:'Conv_Averta-Regular',Sans-Serif;
}
html, body {
    height: 100%;
}

body{
    min-height: 100%;
    margin:0;
    background: url('../images/reg-bg.jpg');
    background-size: cover;
    &.bg-fix{
        background-attachment: fixed;
    }
}
/*.vc-middle-wrap {
    display: table;
    .vc-middle {
        display: table-cell;
        vertical-align: middle
    }
}*/
#logo{
    img{
        margin: 0 auto 25px auto;
        padding-top: 65px;
        max-width: 75px;
        height: auto;
    }
}
#form-wrap{
    margin-bottom: 40px;
}
#form{
    padding: 25px 35px 35px 35px;
    background: #fff;
    color: #ccc;
    border-radius: 10px;
    a{
        color: #1ec4a1;
    }
    h1{
        font-family: 'Conv_Averta-Light';
        color: #414141;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        &.signature{
            margin-bottom: 5px;
        }
    }
    label{
        text-align: center;
        color: #bfbfbf;
    }
    .input-group{
        margin-bottom: 15px;
    }
    .input-group-addon{
        background-color: #fff;
        padding: 12px 15px;
        border-color: #eae8e8;
        img{
            max-height: 15px;
        }
    }
    .form-control{
        box-shadow: none;
        height: 48px;
        /*color: #bfbfbf;*/
        color: #6B6868;
        font-size: 16px;
        border-color: #EAE8E8;
        &::-webkit-input-placeholder {
            color: #cccccc;
        }
        &:-moz-placeholder {
            color: #cccccc;
        }
        &::-moz-placeholder {
            color: #cccccc;
        }
        &:-ms-input-placeholder {  
            color: #cccccc;
        }
        &:focus{
            box-shadow: none;
            border-color: #EAE8E8;
        }
    }
    .btn{
        margin-top: 20px;
        color: #fff;
        font-size: 12px;
        background-color: #1ec4a1;
        font-family: 'Conv_Averta-Semibold';
        padding: 13px 70px;
    }
    .fb-btn{
        background: #3b589e;
        display: block;   
        color: #fff;
        text-align: center;
        border-radius: 5px;
        /*height: 40px;*/
        padding: 10px 10px;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    &.step1{
        .form-control{
            border-left: 0 none;
        }
    }
    .birthday{
        @media (max-width: 600px) {
            width: 100%;
            padding: 0;
        }
        @media screen and (min-width: 992px) and (max-width: 1265px) {
            width: 100%;
            padding: 0;
        }
        input[type="text"]{
            padding: 5px;
        }
        label{
            float: left;
            text-align: left;
            width: 100%;
        }
        .col-xs-2,.col-xs-3,.col-xs-4{
            margin-right:18px;
            &.day{
                padding-left: 0;
            }
            @media (min-width: 600px) {
                padding-left: 0;
                padding-right: 0;
            }
            @media (max-width: 430px) {
                margin-bottom: 10px;
            }
            @media (max-width: 500px) {
                padding-left: 0;
            }
            @media (max-width: 390px) {
                margin-right: 0;
            }
            @media (max-width: 320px) {
                .form-control{
                    font-size: 12px;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1265px) {
                margin-bottom: 10px;
            }
        }
        .col-xs-2{
            @media (max-width: 390px) {
                width: 30%;
            }
        }
        .col-xs-4{
            @media (max-width: 390px) {
                width: 40%;
            }
        }
    }
    .form-group{
        color: #bfbfbf;
        &.radio-wrapper{
            text-align: center;
        }
        span{
            color: #1ec4a1;
        }
        input[type="checkbox"]{
            border-color: #ccc;
        }
        &.terms{
            margin-top: 20px;
        }
    }
}
.bday-clear{
    @media screen and (min-width: 600px) and (max-width: 768px) {
        float: left;
    }
}
.mail-sys-wrap{
    label{
        margin-right: 10px;
    }
    input[type="radio"]{
        margin-right: 10px;
    }
}
.login{
    #form{
        .input-group-addon{
            border: 0 none;
            border-bottom: 1px solid #EAE8E8;
            border-radius: 0;
            padding: 4px 15px 4px 0;
        }
        .form-control{
            border: 0 none;
            border-bottom: 1px solid #EAE8E8;
            border-radius: 0;
            box-shadow: none;
            height: 25px;
            /*color: #bfbfbf;*/
            color: #6B6868;
            font-size: 11px;
            &:focus{
                box-shadow: none;
            }
        }
    }
}
.create-account{
    #form{
        input[type="text"].form-control{
            border-left: 0 none;
        }
    }
}
.create-account2{
    .gender{
        padding: 0;
        @media (max-width: 600px) {
            margin-bottom: 15px;
        }
    }
}
footer{
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    background: none;
    .forgot-pswd{
        color: #fff;
        &:hover{
            color: #fff;
            font-size: 12px;
        }
    }
    span{
        color: #1ec4a1;
    }
}
.form-bot-cont{
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    span{
        color: #1ec4a1;
    }
}
.or-wrap{
    p { 
        width:100%;
        text-align:center;
        border-bottom: 1px solid #ccc;
        line-height:0.1em;
        font-size: 7px;
        color: #ccc;
        margin:10px 0 20px;
        span {
            background:#fff;
            padding:0 10px;
        }
    }
}
.email-client-wrap{
    img{
        &.icloud{
            max-width: 107px;
        }
        &.exchange{
            max-width: 133px;
        }
        &.google{
            max-width: 115px;
        }
        &.yahoo{
            max-width: 124px;
        }
        &.aol{
            max-width: 61px;
        }
        &.outlook{
            max-width: 166px;
        }
        &.other{
            max-width: 38px;
        }
    }
}
#linked-accounts{
    color: #ccc;
    .accounts{
        color: #414141;
        .minus{
            max-width: 20px;
            height: auto;
            margin-left: 7px;
        }
        .tick{
            max-width: 18px;
            height: auto;
            margin-right: 7px;
        }
    }
}
img.receive{
    max-width: 100px;
}
#form .payment-btn{
    background: #019cde;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 20px;
    &:hover{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    &.active{
        background: #008bdc;
    }
    &.paypal{
        padding: 8px 70px;
    }
}
.radio-btn-wrap{
    margin: 0 auto;
    label > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
    label > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
        border-radius: 50%;
        max-width: 16px;
    }
    label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
        border:2px solid #ccc;
    }
}
#signature-prev-wrap{
    p{
        margin-bottom: 0px;
        word-wrap: break-word;
    }
    strong{
        color: #414141; 
    }
    span{
        color: #1ec4a1;
    }
    ul{
        li{
            padding: 0;
            a{
                text-decoration: none;
                cursor: pointer;
            }
            img{
                max-width: 20px;
            }
        }
    }
}
.nav-tabs{
    margin-top: 30px;
    margin-bottom: 30px;
    li{
        a{
            color: #414141;
        }
        &.active{
            a{
                color: #ffffff !important;
                background: #1ec4a1 !important;
            }
        }
        &:hover{
            a{
                color: #ffffff !important;
                background: #1ec4a1 !important;
            }
        }
    }
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
    outline: 0;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus{
    border: 0 none;
}
#form .signature-btn-wrap{
    padding: 0 30px;
    @media screen and (min-width: 993px) and (max-width: 1200px){
        .btn{
            padding: 13px 15px;
        }
    }
    @media screen and (min-width: 800px) and (max-width: 992px){
        .btn{
            padding: 13px 30px;
        }
    }
    @media (max-width: 400px) {
        .btn{
            padding: 13px 35px;
        }
    }
    @media (max-width: 360px) {
        .btn{
            padding: 13px 25px;
        }
    }
    @media (max-width: 320px) {
        .btn{
            padding: 13px 10px;
        }
    }
    .sign-dwld-btn{
        width: 100%;
    }
    .sign-continue-btn{
        margin-top: 0;
        width: 100%;
    }
}
#form .receive-btn-wrap{
    @media screen and (min-width: 560px) and (max-width: 680px) {
        padding: 0 70px;
    }
    @media screen and (min-width: 681px) and (max-width: 767px) {
        padding: 0 100px;
    }
    @media (min-width: 1650px) {
        padding: 0 50px;
        max-width: 460px;
        margin: 10px auto 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1265px) {
        .btn{
            padding: 13px 36px;
        }
    }
    @media (max-width: 420px) {
        .btn{
            float: none !important;
            margin: 10px auto 0;
        }
    }
}