@colorGreen: #3dbba0;
@colorBlack: #4c4d4f;
@fontsizeMenu: 14px;
@font-face {
    font-family: 'Conv_Averta-Regular';
    src: url('../fonts/Averta-Regular.eot');
    src: local('☺'), url('../fonts/Averta-Regular.woff') format('woff'), url('../fonts/Averta-Regular.ttf') format('truetype'), url('../fonts/Averta-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Semibold';
    src: url('../fonts/Averta-Semibold.eot');
    src: local('☺'), url('../fonts/Averta-Semibold.woff') format('woff'), url('../fonts/Averta-Semibold.ttf') format('truetype'), url('../fonts/Averta-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Thin';
    src: url('../fonts/Averta-Thin.eot');
    src: local('☺'), url('../fonts/Averta-Thin.woff') format('woff'), url('../fonts/Averta-Thin.ttf') format('truetype'), url('../fonts/Averta-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Light';
    src: url('../fonts/Averta-Light.eot');
    src: local('☺'), url('../fonts/Averta-Light.woff') format('woff'), url('../fonts/Averta-Light.ttf') format('truetype'), url('../fonts/Averta-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Bold';
    src: url('../fonts/Averta-Bold.eot');
    src: local('☺'), url('../fonts/Averta-Bold.woff') format('woff'), url('../fonts/Averta-Bold.ttf') format('truetype'), url('../fonts/Averta-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Averta-Black';
    src: url('../fonts/Averta-Black.eot');
    src: local('☺'), url('../fonts/Averta-Black.woff') format('woff'), url('../fonts/Averta-Black.ttf') format('truetype'), url('../fonts/Averta-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:'Conv_Averta-Regular',Sans-Serif;
    /*    font-family:'Conv_Averta-Semibold',Sans-Serif;
        font-family:'Conv_Averta-Thin',Sans-Serif;
        font-family:'Conv_Averta-Light',Sans-Serif;
        font-family:'Conv_Averta-Bold',Sans-Serif;
    font-family:'Conv_Averta-Black',Sans-Serif;
    */

}
body, html, .banner-wrap, .banner {
    height: 100%;
    min-height: 100%;
    margin:0;
    &.how-it-works{
        min-height: 0;
    }
}
.banner{
    box-sizing: border-box;
    padding-top:60px;
    z-index:1;
    background: url('../images/banner.jpg') no-repeat center 64px;
    /*background-color: rgba(0,0,0, 0.7);*/
    background-size: cover;
}
.kimik-for-brands{
    .banner{
        background: url('../images/banner-brands.jpg') no-repeat center 64px;
        font-size: 53px;
        line-height: 58px;
        font-family: 'Conv_Averta-Thin';
        span{
            font-size: 45px;
            font-family: 'Conv_Averta-Bold';
            margin-bottom: 20px;
            display: inline-block;
            word-wrap: break-word;
        }
    }
}
.navbar{
    background: #fff;
    border: 0 none;
    /*below styles are for full screen middle*/
    min-height: 60px;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    z-index:2;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    div{
        display: inline-block;
        font-family: 'Conv_Averta-Light';
        font-size: 52px;
    }
}
.navbar-inverse{
    @media (min-width: 1000px) {
        padding-right: 30px;
        padding-left: 25px;
    }
    .container{
        @media (max-width: 990px) {
            max-width: 960px;
            width: 100%;
        }
    }
    .navbar-nav{
        li{
            a{
                /*font-family:'Conv_Averta-Semibold',Sans-Serif;*/
                color: @colorBlack;
                text-shadow: none;
                box-shadow: none;
                font-size: @fontsizeMenu;
                @media (min-width: 767px) {
                    padding: 22px 13px;
                }
                @media (max-width: 807px) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
                &:hover{
                    color: @colorGreen;
                }
            }
            &.active{
                &:hover{
                    background: none;
                }
                a{
                    background: 0 none;
                    box-shadow: none;
                    color: @colorGreen;
                    &:hover{
                        color: @colorGreen;
                        background: none;
                    }
                }
            }

        }
    }
    .navbar-brand{
        padding: 12px 0 25px 0;
        img{
            max-width: 93px;
            height: auto;
            width: 100%;
        }
    }
    .navbar-toggle{
        background: @colorGreen;
        border-color: @colorGreen;
        &:hover,&:focus{
            background: @colorGreen;
            border-color: @colorGreen;
        }
    }
    .navbar-collapse{
        border: 0 none;
    }
}

.banner{
    color: #ffffff;
    @media (max-width: 500px) {
        font-size: 25px;
    }
    .btn{
        background: @colorGreen;
        border-color: @colorGreen;
        font-size: 14px;
        color: #fff;
        font-family:'Conv_Averta-Light',Sans-Serif;
        padding: 16px 50px;
    }
}
#middle-sec{
    font-size: 16px;
    background: #fcfcfc;
    padding: 27px 0 0;
    color: #747474;
    span{
        font-family:'Conv_Averta-Thin',Sans-Serif;
        font-size: 45px;
        color: @colorGreen;
        display: inline-block;
        margin-bottom: 14px;
        word-break: break-all;
    }
}
#middle-sec-arrow{
    height: 20px;
    background-image: url('../images/arrow1.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center -3px;
    background-size: 42px 18px;
    border-top: 1px solid #e9e9e9;
}
#what-is-kimik{
    padding: 50px 0 60px;
    @media (min-width: 768px) {
        padding: 50px 50px 60px;
    }
    .main-title{
        font-size: 30px;
        font-family:'Conv_Averta-Light',Sans-Serif;
        color: #595959;
    }
    .main-img{
        img{
            max-width: 454px;
            height: auto;
            width: 100%;
        }
    }
    .work-step{
        margin-top: 20px;
        padding: 0 20px;
        img.email{
            margin-bottom: 34px;
            max-width: 102px;
            height: auto;
            width: 100%;
        }
        img.web_n_mobile{
            margin-bottom: 24px;
            max-width: 108px;
            height: auto;
            width: 100%;
        }
        img.pay_u{
            margin-bottom: 0;
            max-width: 74px;
            height: auto;
            width: 100%;
        }
        h2{
            color: @colorGreen;
            font-size: 21px;
            margin-bottom: 10px;
        }
        p{
            color: #747474;
            font-size: 16px;
            line-height: 18px;
        }
    }
    .available{
        font-size: 18px;
        color: #747474;
        font-family:'Conv_Averta-Light',Sans-Serif;
        margin-top: 75px;
        margin-bottom: 15px;
    }
    .store{
        width: 100%;
        height: auto;
        margin-right: 10px;
        @media (max-width: 320px) {
            margin-bottom: 10px;
        }
        &.app-store{
            max-width: 148px;
        }
        &.play-store{
            max-width: 123px;
        }
    }
}

#how-it-works{
    padding: 50px 0 75px;

    background-image: url('../images/how-it-works-bg.jpg');
    background-size: cover;
    .main-title{
        font-size: 30px;
        font-family:'Conv_Averta-Light',Sans-Serif;
        color: #595959;
    }
    .step{
        margin-top: 60px;
        img{
            max-width: 100px;
            height: auto;
            width: 100%;
        }
        h3{
            font-size: 18px;
            color: #303030;
        }
        p{
            font-size: 14px;
            color: #303030;
        }
    }
}
.video-js {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}
.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#earnings{
    padding: 50px 0 75px;
    background-size: cover;
    .main-title{
        font-size: 30px;
        font-family:'Conv_Averta-Light',Sans-Serif;
        color: #595959;
    }
    .text-wrap{
        font-size: 22px;
        color: #595959;
        margin: 45px 0 60px;
    }
    input[type='text']{
        border: 1px solid #9f9f9f;
        max-width: 125px;
        color: @colorGreen;
        text-align: center;
        border-radius: 5px;
    }
    .earn-about{
        font-size: 20px;
        color: #595959;
        margin-bottom: 17px;
    }
    .per-month{
        font-size: 36px;
        color: @colorGreen;
        margin-bottom: 0;
    }
}
#ads{
    background:#f9f9f9;
    padding: 50px 0 75px;
    img{
        width: 100%;
        max-width: 102px;
        height: auto;
    }
    p{
        font-size: 36px;
        font-family:'Conv_Averta-Thin',Sans-Serif;
        color: #717373;
    }
    .btn{
        background: @colorGreen;
        border-color: @colorGreen;
        font-size: 14px;
        color: #fff;
        font-family:'Conv_Averta-Light',Sans-Serif;
        padding: 16px 50px;
    }
}
footer{
    padding: 27px 0 8px 0;
    background: #424242;
    p{
        font-size: 10px;
        color: #b3b3b3;
    }
    a{
        font-size: 10px;
        color: #b3b3b3;
        &:hover{
            color: #b3b3b3;
        }
    }
}
#video-background {
    /*position: fixed;*/
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
.sign-dwld-btn-wrap{

}
#feature-wrap{
    @media (min-width: 800px) {
        padding: 0 50px;
    }
    line-height: normal;
    .brand-features{
        padding: 0 70px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        &#programmable{
            img{
                max-width: 27px;
                margin-bottom: 8px;
            }
        }
        &#powerful{
            img{
                max-width: 20px;
            }
        }
        &#personal{
            img{
                max-width: 29px;
            }
        }
        h3{
            font-size: 15px;
            margin-top: 5px;
        }
        p{
            font-size: 12px;
        }
    }
}
#partner-wrap{
    max-width: 850px;
    margin: 0 auto;
    /*padding: 0 25px;*/
    hr{
        max-width: 850px;
    }
    img{
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
        &.dbmedia{
            max-width: 180px;
        }
        &.selekar{
            max-width: 118px;
        }
        &.oblitj{
            max-width: 98px;
        }
    }
}
#pgm-dsp-wrap{
    color: #fff;
    background-image: url('../images/system-bg.jpg');
    background-size: cover;
    padding: 115px 0 145px 0;
    @media (max-width: 768px) {
        padding: 55px 0 75px 0;
    }
    h1{
        font-size: 44px;
        line-height: 50px;
        font-family: 'Conv_Averta-Thin';
    }
    h2{
        font-size: 30px;
        font-family: 'Conv_Averta-Bold';
        margin-bottom: 20px;
        margin-top: 10px;
    }
    p{
        font-size: 12px;
    }
    img{
        max-width: 394px;
        width: 100%;
        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }
    .btn{
        background: @colorGreen;
        border-color: @colorGreen;
        font-size: 14px;
        color: #fff;
        font-family:'Conv_Averta-Light',Sans-Serif;
        padding: 16px 50px;
    }
}

#advantage-wrap{
    padding-top: 70px;
    @media (max-width: 768px) {
        padding-top: 50px;
    }
    h1{
        font-family: 'Conv_Averta-Thin';
        font-size: 30px;
        text-align: center;
        margin-bottom: 75px;
        span{
            font-family: 'Conv_Averta-Semibold';
        }
    }
    .advantage{
        margin-bottom: 45px;
        text-align: center;
        img{
            &.proprietary{
                max-width: 41px;
            }
            &.roi{
                max-width: 35px;
            }
            &.results{
                max-width: 45px;
            }
            &.ads-scale{
                max-width: 43px;
            }
            &.marketing{
                max-width: 44px;
            }
            &.crm{
                max-width: 61px;
            }
        }
        h3{
            font-size: 15px;
            font-family: 'Conv_Averta-Semibold';
            color: #393939;
        }
        p{
            font-size: 12px;
            color: #393939;
        }
    }
}
.how-it-works{
    .main-title{
        font-size: 30px;
        margin: 100px 0 50px 0;
        font-family: 'Conv_Averta-Light';
        span{
            font-family: 'Conv_Averta-Semibold';
        }
    }

    .step{
        padding: 45px 30px 60px 30px;
        overflow: hidden;
        @media (min-width: 768px) {
            padding: 25px 20px 40px 20px;
        }
        .item-wrap{
            display: table;
            .item{
                vertical-align: middle;
                @media (min-width: 380px) {
                    display: table-cell;
                }
                &.text{
                    padding-right: 20px;
                    h3{
                        font-size: 24px;
                        font-family: 'Conv_Averta-Light';
                        margin-top: 0;
                    }
                    p{
                        font-size: 12x;
                        font-family: 'Conv_Averta-Light';
                    }
                }
                &.count{
                    font-family: 'Conv_Averta-Semibold';
                    font-size: 13x;
                    @media (max-width: 380px) {
                        margin-bottom: 20px;
                    }
                    @media (max-width: 768px) {
                        vertical-align: top;
                        padding-top: 30px;
                    }
                    span{
                        border: 1px solid @colorGreen;
                        border-radius: 50%;
                        padding: 12px 18px;
                        margin-right: 20px;
                    }
                }
                &.img{
                    vertical-align: bottom;
                    @media (max-width: 768px) {
                        vertical-align: top;
                    }
                    img{
                        @media (max-width: 768px) {
                            padding-top: 30px;
                        }
                        &.dwld-app{
                            max-width: 84px;
                        }
                        &.connect-email{
                            max-width: 84px;
                        }
                        &.send-email{
                            max-width: 119px;
                        }
                        &.withdraw-money{
                            max-width: 165px;
                        }
                    }
                }
            }
        }
        &.even{
            background: #fbfbfb;
            .count{
                span{
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }
        }
    }
}